

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    z-index: -2;
}

/*------------  HEADER ---------*/

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-right, .header-left {
    width: 50%;

}


.header-right {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;

}
.header-left {
    margin-left: 30px;

}

.logo {
    right: 40px
}
.logoVector {
    width: 110px;
    height: auto;
}
.logoVector:hover {
    cursor:pointer;
}



.language-header {
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    margin-right: 20px;
    appearance: none;
    padding: 8px 22px ;
    line-height: 1.3em;
    font-size: 11px;
    background: rgba(0,0,0,.4);
    border: 1px solid #aaa;
    color: #fff;
    border-radius: 1px;
    opacity: 0.8;
}
.custom-arrow-header {
    pointer-events: none;
}

.custom-arrow-header::before {

    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-top-color: #fff;
    transform: translate(-35px, 14px);

}


.icon-header {
    width: 17px;
    position: absolute;
    transform: translate(5px, 7px);
    background-color: #f8f8ff;
    border-radius: 50%;
    fill: black;
}

.button-box {
    align-self: center;
}

.sign-in {
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    padding: 9px 22px ;
    font-size: 11px;
    color: white;
    background-color: red;
    border: transparent;
    border-radius: 3px;
}
.sign-in:hover {
    cursor: pointer;
    background-color: #cf0000;
}

/*----------- INTRO   ----------*/


.background-picture {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)),
                url("Import/iconsImport/NetflixBackground.jpg") center no-repeat;
    background-size: cover;
    box-shadow: inset 0 25px 300px -40px rgba(0,0,0,1),
                inset 0 -25px 300px -40px rgba(0,0,0,1);
    height: auto;
    background-blend-mode: darken;
}


.section-1 {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.intro-item {
    margin: 20px 20%;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.unlimited {
    font-size: 3.125rem;
    font-weight: 550;
}

.watch {
    font-size: 1.625rem;

}
.ready {
    font-size: 18px;
}
.emailButtonMain {
    margin-bottom: 0;
}
.emailButtonDesktop {
    display: none;
}
.email-box {
    position: relative;
}
#email {
    padding: 13px 190px 13px 10px;
    box-shadow: none;
    border-color: transparent;
    font-size: 12px;
    margin-bottom: 0;
}
.email-label {
    font-size: 14px;
    opacity: 1;
    display: block;
    color:#aaaaaa;
    transform-origin: 0 0;
    transform: translate(-120px,-30px);
    transition: all .3s;
}

#email:focus {
    outline: none;
}
#email:focus + .email-label,
#email:not(:placeholder-shown) + .email-label {
    transform: translate(-85px, -39px) scale(0.7);
    font-weight: bold;
}

.try {
    font-size: 1rem;
    color: white;
    background-color: red;
    padding: 12px 20px;
    border: solid 1px transparent;
    border-radius: 2px;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
}
.try:hover {
    cursor: pointer;
    background-color: #cf0000;
}

@media (min-width: 950px) {
    .emailButtonMain {
        display: none;
    }
    .emailButtonDesktop {
        display: flex;
    }
    .email-box-desktop {
        width: 60%;

    }
    .button-box-desktop {
        width: 40%;
    }
    #email1 {
        padding: 15px 130px 15px 10px;
        border: transparent;
        transform-origin: 0 0;
        font-size: 13px;
        transition: all .3s;
    }
    #email1:focus {
        outline: none;
    }
    #email1:focus + .email-label1,
    #email1:not(:placeholder-shown) + .email-label1 {
        font-weight: bold;
        transform: translate(5px, -42px) scale(0.75);

    }



    .try1 {
        transform: translateX(8px);
        padding: 13px 20px;
    }
    .email-label1 {
        display: block;
        opacity: 1;
        color: rgba(0,0,0, 0.4);
        transform: translate(5px, -30px);
        transition: all .3s;
        transform-origin: 0 0;
    }
}
.lower-item {
    margin-bottom: 150px;
}

.split {
    background-color: rgb(34,34,34);
    width: 100%;
    height: 10px;
}
/*----------  MAIN     ---------*/

main {
    color: #fff;
    font-family: Helvetica, sans-serif;
}

.flexcontainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

img {
    width: 450px;
    height: auto;
}
.video-main1, .video-main3 {
    width: 450px;
}

.h1-main {
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
}
.p-main {
    font-size: 1.625rem;
    font-weight: 400;
}

.item-main1, .item-main2, .item-main3 {
    padding: 70px 45px;
}

.tv-main, .mobile-main, .pc-main {
    position: relative;
}

/* =======================
    Customizing part 1
   =======================*/



.video-main1 {
    transform-origin: 0 0;
    position: absolute;
    z-index: -1;
    width: 327px;
    transform: translate(-390px, 70px);
}




/*======================
    Customizing part 2
  ========================*/

.image-main2-1, .image-main2-2, .image-main2-3 {

    transform-origin: 0 0;
}
.image-main2-1 {
    width: 375px;
}

.image-main2-3 {
    width: 3em;
}
.image-main2-2 {
    height: 4.5em;
    width: auto;
}


.animation-container {
    position: relative;
    border: solid 2px rgba(255,255,255,.25);
    border-radius: .75rem;
    display: flex;
    max-width: 70%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    transform: translate(45px, -50px);
    background-color: black;
    z-index: 1;
}
.animation-container-text {
    line-height: 20px;
}

.animation-container-text1 {
    font-size: 1em;
}
.animation-container-text2 {
    font-size: 0.85em;
    color: #0071eb;
}
.image-main2-3 {
    top: 50%;
    right: 10px;
}



/*======================
    Customizing part 3
  ========================*/

.item-main3:not(.pc-main) {
    align-self: start;
}

.video-main3 {
    transform-origin: 0 0;
    z-index: -1;
    position: absolute;
    width: 305px;
    transform: translate(-405px, 30px);
}
.image-main3 {
    width: 500px;

}


@media (max-width: 950px) {
    .flexcontainer {
        flex-direction: column;
    }
    .flexcontainer2 {
        flex-direction: column-reverse;
    }
    .item-main1, .item-main2, .item-main3 {
        padding: 10px 45px;
    }
    .h1-main, .p-main {
        text-align: center;
    }
    .h1-main  {
        font-size: 2.5rem;
    }
    .p-main {
        font-size: 1.25rem;
    }
    .image-main1 {
        width: 600px;
        transform: translate(0,-30px);
    }
    .video-main1 {
        width: 437px;
        transform: translate(-520px, 65px);
    }

    .image-main2-1 {
        width: 475px;
    }

    .animation-container {
        position: relative;
        transform: translate(15px, -45px);
        justify-content: space-between;
        max-width: 90%;
    }
    .image-main2-2, .image-main2-3 {
        margin: 0 20px;
    }
    .animation-container-text1, .animation-container-text2 {
        position: absolute;
        left: 105px
    }
    .animation-container-text1 {
        transform: translateY(-20px);
    }

    .image-main3 {
        width: 550px;
    }
    .video-main3 {
        width: 335px;
        transform: translate(-445px, 40px);
    }
}
/*----------  QUESTIONS   -----------*/
.questionnaire {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.h1-question-sections {
    font-size: 2.5rem;
    text-align: center;
}

.question-box-general {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 80%;
    line-height: 45px;
    font-size: 1.7em;
}

.question-box {
    position: relative;
    background: #303030;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.hidden-answer {
    margin: 5px 0;
    padding-left: 40px;
    width: 85%;
    position: relative;
}
.question {
    width: 100%;
    height: 70px;
    position: relative;
}
.the-question {
    position: absolute;
    left: 30px;
    top: 15px;
    pointer-events: none;
}

.question-block, .close-question {
    display: inline-block;
    text-decoration: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    height: 100%;
    position: relative;
}


.cross {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
}

.cross-container {
    transform-origin: 0 0;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 60px;
    top: -93px;
    pointer-events: none;
}
.cross-icon {
    fill: white;
    width: 50px;
}
.hidden-answer {
    display: none;
}
.hidden-answer:target {
    display: block;
}
.hidden-answer:target + .cross {
    display: inline-block;
    width: 100%;
}
.hidden-answer:target + .cross + .cross-container {
    transform: rotateZ(45deg) translate(85px, -50px);

}
.close-question {
    display: inline-block;
    width: 100%;
    height: 100%;

}
.small-split {
    height: 1px;
    background: black;
    width: 100%;
}

.question-p {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    padding: 0 20px;
}

@media (max-width: 720px) {
    .question-box {
        font-size: 1.125rem;
        line-height: 1.95rem;
    }
    .cross-icon {
        width: 35px;
    }
    .question {
        height: 55px
    }
    .cross-container {
        top: -98px;
    }
    .h1-question-sections {
        font-size: 1.625rem;
    }
}

  /*=====================
        ANIMATED EMAIL [QUESTIONS]
  =====================*/

.subscription-question {
    display: flex;
    justify-content: space-around;
}




/*-----------    FOOTER        -----*/

footer {
    background-color: black;
    color: #928b8a;
    width: 100%;
    margin-top: 0;
    padding: 40px 0 25px 0;


}

.footer-box {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;


}

.flexbox-footer, .mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 35px;


}

.mobile-wrapper {
    display: none;

}

.column-wrapper {
    display: flex;
}

.column {
    align-self: start;


}

.word {
    font-size: 12px;
    font-family: Helvetica, sans-serif;
}

.word-word:hover {
    text-decoration: underline;
    cursor: pointer;
}

.questions {
    font-size: 14px;
}

.footer-Netflix {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 12px;
}

/*--------- SELECT BOX FOOTER------------- */
.select-area {
    position: relative;
    margin: 20px 0;
}

.language-footer {
    background-color: black;
    line-height: 1.7;
    padding: 12px 12px 10px 27px;
    border: 1px solid #333;
    font-size: 12px;
    appearance: none;
    color: #a3a3a3;
}

.custom-arrow-footer {
    position: absolute;
    top: 2px;
    left: 105px;
    display: block;
    pointer-events: none;

}

.custom-arrow-footer::before {
    content: '';
    position: absolute;

}

.custom-arrow-footer::before {
    --sizefooter: 6px;
    border-left: var(--sizefooter) solid transparent;
    border-right: var(--sizefooter) solid transparent;
    border-top: var(--sizefooter) solid;
    transform: translate(-35px, 20px);
}

.icon-footer {
    width: 17px;
    position: absolute;
    left: 7px;
    top: 15px;
}

.icon-footer {
    fill: lightgrey;
}


/*-------------- MEDIA RULES -----------------*/
@media (max-width: 500px) {
    .flexbox-footer {
        display: none !important;

    }

    .mobile-wrapper {
        display: block !important;
    }

    .mobile-wrapper .column-wrapper {
        justify-content: space-between;

    }

    .footer-box {
        max-width: 75% !important;

    }
}

@media (max-width: 680px) {
    .footer-box {
        max-width: 90%;
    }
}
